/*Logo get smaller effect*/

@keyframes smaller {
  0% {
    transform: scale(1);
    left: 0%;
    top: 5%;
  }
  100% {
    transform: scale(0.15);
    left: -40%;
    top: -38%;
  }
}

.smaller {
  animation: smaller 3s;
  animation-fill-mode: forwards;
  position: fixed;
}

/* FadeIn effect */

.none {
  visibility: hidden;
  opacity: 0;
}

.show {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
  transition-delay: 2s;
}

/*Tiles animation*/

@keyframes up {
  0% {
    transform: translateY(106.25px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes left {
  0% {
    transform: translateX(106.25px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes right {
  0% {
    transform: translateX(-106.25px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes down {
  0% {
    transform: translateY(-106.25px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.left {
  animation: left .2s;
  animation-fill-mode: forwards;
}

.right {
  animation: right .2s;
  animation-fill-mode: forwards;
}

.down {
  animation: down .2s;
  animation-fill-mode: forwards;
}

.up {
  animation: up .2s;
  animation-fill-mode: forwards;
}

.new {
  animation: fadeIn 1s;
  animation-fill-mode: forwards;
}

/*restarn animation*/

.filter-button .glyphicon:hover {
  animation: restart 1s linear;
}

@keyframes restart {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*spinner for edge*/

.loader-edge {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #74b9ff;
  border-right: 16px solid #55efc4;
  border-bottom: 16px solid #ff7675;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position:absolute;
  left: 45%;
}
.loader-edge.small{
  width: 40px!important;
  height: 40px!important;
  position: static;
  display: inline-block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*Manual*/
.ex {
  width: 100px;
}

.ex-four {
  position: absolute;
  z-index: 2;
  animation: four 3s linear infinite;
}

@keyframes moving {
  0%,
  10% {
    transform: translateX(0);
  }
  50%,
  100% {
    transform: translateX(-100px);
  }
}

@keyframes four {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51%,
  100% {
    opacity: 1;
  }
}

.ex-two-trg {
  animation: moving 3s linear infinite;
}
