@media only screen and (max-width:600px) {
  .links {
    max-width: 100%;
    justify-content: space-evenly;
    display: flex;
  }

  #username {
    width: 90%;
  }
  .input label {
    font-size: 20pt;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
  }
  .image-select {
    width: 100%;
  }
  .avatar-chooser {
    width: 100px;
    margin: 15px;
  }
  .play-button {
    width: 50%;
    font-size: 25px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 20px;
  }
  .go {
    width: 80%;
  }
  .user {
    width: 100%;
  }
  .avatar {
    width: 100px;
  }
  .avatar~div {
    font-size: 25px;
    padding-right: 15px;
  }
  .game-container {
    width: 100%;
    height: 100%;
    padding: 3%;
  }
  .row {
    margin-bottom: 3%;
  }
  .cell {
    width: 21.25%;
    margin-right: 3%;
  }
  .tile.pow7,
  .tile.pow8,
  .tile.pow9 {
    font-size: 30pt;
    padding-top: 20px;
  }
  .tile.pow10,
  .tile.pow11 {

    font-size: 25pt;
    padding-top: 25px;
  }
  .res-row {
    width: 100%;
  }
  .res-cell.image img {
    width: 80px;
  }
  .res-cell {
    font-size: 14pt;
  }
  .filter {
    width: 100%;
    height: 100%;
  }
  .filter-button .glyphicon {
    font-size: 100px;
  }
  .filter-button {
    font-size: 25px;
    top: 25%;
    width: 100%;
  }
  .bskew{
    margin-left: 5px;
    margin-right: 10px;
  }
}

@media only screen and (min-width:600px) and (max-width:1024px) {
  .links {
    max-width: 100%;
    justify-content: space-evenly;
    display: flex;
  }

  #username {
    width: 90%;
  }
  .input label {
    font-size: 20pt;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
  }
  .image-select {
    width: 100%;
  }
  .avatar-chooser {
    width: 100px;
    margin: 15px;
  }
  .play-button {
    width: 50%;
    font-size: 25px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 20px;
    margin-bottom: 50px;
  }
  .go {
    width: 80%;
  }
  .user {
    width: 60%;
  }
  .avatar {
    width: 100px;
  }
  .avatar~div {
    font-size: 25px;
    padding-right: 15px;
  }
  .game-container {
    width: 350px;
    height: 350px;

  }
  .row {
    margin-bottom: 3%;
  }
  .cell {
    width: 74.375px;
    height: 74.375px;
    margin-right: 3%;
  }
  .tile {
    font-size: 35pt;
  }
  .tile.pow7,
  .tile.pow8,
  .tile.pow9 {
    font-size: 30pt;
  }
  .tile.pow10,
  .tile.pow11 {
    font-size: 25pt;
    padding-top: 15px;
  }
  .res-row {
    width: 100%;
  }
  .res-cell.image img {
    width: 80px;
  }
  .res-cell {
    font-size: 14pt;
  }
  .filter {
    width: 350px;
    height: 350px;
  }
  .filter-button {
    font-size: 25px;
    top: 80px;
    width: 350px;
    height: 350px;
  }
  .filter-button .glyphicon {
    font-size: 100px;
  }
}
